.writetodo-container {
  width: 105%;
  height: 135%;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -160px;
  left: -12px;
  z-index: 99999;
}
.writetodo-container .list-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 250px;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: #fff;
}
.writetodo-container .list-input input {
  background: none;
  border: none;
  border-bottom: 1px solid #808080;
  text-align: center;
  color: #000;
  outline: none;
  line-height: 2;
}
.writetodo-container .list-input input::placeholder {
  font-size: 18px;
  color: #000;
}
.writetodo-container .list-up {
  width: 44px;
  height: 44px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 12px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}