.layout-container {
  width: 324px;
  height: 800px;
  background-color: tomato;
  padding: 12px;
  .container-inner {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: beige;
  }
}
