.layout-container {
  width: 100%;
  height: 100%;
  background-color: #f6deb4;
  padding: 12px;
  .container-inner {
    margin: auto;
  }
  .todolist-container {
    height: 782px;
    margin: auto;
    border: 1px solid #fff;
    background-color: #fff;
  }
}
