.header-container {
  width: 100%;
  height: 150px;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  .header-date {
    width: 50%;
    height: 100%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-show-date {
      width: 108px;
      height: 108px;
      border: 1px solid #fff;
      display: flex;
      .header-show-date-left {
        width: 50%;
        height: 100%;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 42px;
          font-weight: 700;
        }
      }
      .header-show-date-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        line-height: 1.2;

        border: 1px solid #fff;
        .header-show-month {
          font-weight: 700;
        }
        .header-show-year {
        }
      }
    }
  }
  .header-days {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    .header-upper-days {
      font-size: 18px;
      font-weight: 700;
      span {
      }
    }
  }
}
